.sidebarleft {
}

.nav--item {
  /* border: 1px solid green; */
  font-size: 1.3rem;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 30px;
  width: fit-content;
}

.more--wrap {
  display: flex;
}

.nav--item:hover {
  background-color: rgb(26, 26, 26);
}

.nav--item i {
  margin-right: 20px;
}

.more--wrap i {
  margin-right: 0;
}

.more--custom--icon {
  border: 1px solid whitesmoke;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1044px) {
  .nav--item span {
    display: none;
  }
  .sidebarleft {
    width: 100%;
  }
  .nav--item i {
    margin-right: 0;
  }
}
