.App {
  /* display: flex; */
}

.sidebar--left {
  height: 100vh;
  width: 25vw;
  display: flex;
  justify-content: end;
  padding-right: 30px;
  position: fixed;
  border-right: 1px solid rgb(47, 51, 54);
}

.main {
  height: 100vh;
  width: 39vw;
  margin-left: 25vw;
}

.sidebar--right {
  border-left: 1px solid rgb(47, 51, 54);
  height: 100vh;
  width: 35vw;
  position: fixed;
  top: 0px;
  right: 0px;
}

@media (max-width: 1125px) {
  .sidebar--right {
    display: none;
  }
  .main {
    width: 75vw;
  }
}

@media (max-width: 1044px) {
  .sidebar--left {
    width: 10vw;
  }
  .main {
    margin-left: 10vw;
    width: 90vw;
  }
  .sidebar--left {
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  .sidebar--left {
    bottom: 0px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: fit-content;
    border-top: 1px solid rgb(47, 51, 54);
    z-index: 10;
  }
  .main {
    width: 100vw;
    margin-left: 0;
  }
}
