.App {
  /* display: flex; */
}

.sidebar--left {
  height: 100vh;
  width: 25vw;
  display: flex;
  justify-content: end;
  padding-right: 30px;
  position: fixed;
  border-right: 1px solid rgb(47, 51, 54);
}

.main {
  height: 100vh;
  width: 40vw;
  margin-left: 25vw;
}

.sidebar--right {
  border-left: 1px solid rgb(47, 51, 54);
  height: 100vh;
  width: 35vw;
  position: fixed;
  top: 0px;
  right: 0px;
}
